[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zzmw-common = {editable = true, path = "/home/batman/src/BatiCasa/zigbee2mqtt2web/zzmw_lib"}
zz2m = {editable = true, path = "/home/batman/src/BatiCasa/zigbee2mqtt2web/zz2m"}

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
