# Pipfile.lock in gitignore to avoid problems with multiple deploy

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://www.piwheels.org/simple"
name = "piwheels"
verify_ssl = true

[dev-packages]

[packages]
apscheduler = {version="*", index="piwheels"}
flask = {version="*", index="piwheels"}
paho-mqtt = {version="*", index="piwheels"}
pychromecast = {version="*", index="piwheels"}
flask-socketio = {version="*", index="piwheels"}
requests = {version="*", index="piwheels"}

[requires]
python_version = "3.5"
