[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zzmw-lib = {editable = true, path = "/home/batman/src/BatiCasa/zigbee2mqtt2web/zzmw_lib"}
py-telegram-bot = {editable = true, path = "/home/batman/src/BatiCasa/zigbee2mqtt2web/zext_libs/PyTelegramBot"}
requests = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
