[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "pywheels"

[packages]
requests = "*"
flask = {index = "piwheels",version = "*"}
flask-socketio = {index = "piwheels",version = "*"}
paho-mqtt = {index = "piwheels",version = "*"}
pylint = {index = "piwheels",version = "*"}

[dev-packages]

[requires]
python_version = "3.9"

