.media_player_ctrl {
    border: 1px black solid;
    clear: both;
    display: block;
    width: 100%;
    overflow: hidden;
}

.media_player_ctrl .media_icon {
    float: left;
    max-width: 80px;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: 10px;
    border-radius: 500px;
}

.media_player_small_control {
    float: left;
    width: calc(100% - 120px); /* 100% - icon width */
}

.media_player_small_control .media_player_media_info {
    line-height: 5px;
    clear: left;
}

.media_player_ctrl .media_player_info p {
    display: inline;
}

.media_player_ctrl .mini_control {
    width: 100%;
    clear: both;
}

.media_player_ctrl .media_player_extended_control {
    clear: both;
}

.media_player_ctrl .mini_control .volumeslider {
    width: calc(90% - 150px);
    min-width: 150px;
    display: inline-block;
}

/* Replace the mute checkbox with an image */
.media_player_ctrl .mini_control .btn_mute {
    display: inline;
}

.media_player_ctrl .mini_control .btn_mute input[type="checkbox"] {
    display:none;
}

.media_player_ctrl .mini_control .btn_mute input[type="checkbox"] + label {
    background:url('icons/volume_unmuted.png') no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    height: 30px;
    width:  30px;
    display: inline-block;
    border: none;
    margin: 0px;
    padding: 0px;
}

.media_player_ctrl .mini_control .btn_mute input[type="checkbox"]:checked + label {
    background:url('icons/volume_muted.png') no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    height: 30px;
    width:  30px;
    display: inline-block;
    border: none;
    margin: 0px;
    padding: 0px;
}

/* Replace the extended panel open button with an image */
.media_player_ctrl .mini_control .btn_extended_control_open {
    display: inline;
}

.media_player_ctrl .mini_control .btn_extended_control_open input[type="checkbox"] {
    display:none;
}

.media_player_ctrl .mini_control .btn_extended_control_open input[type="checkbox"] + label {
    background:url('icons/extended_control_open.png') no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    height: 30px;
    width:  30px;
    display: inline-block;
    border: none;
    margin: 0px;
    padding: 0px;
}

.media_player_ctrl .mini_control .btn_extended_control_open input[type="checkbox"]:checked + label {
    background:url('icons/extended_control_close.png') no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    height: 30px;
    width:  30px;
    display: inline-block;
    border: none;
    margin: 0px;
    padding: 0px;
}

.media_player_ctrl .control_button {
    vertical-align: top; /* Required to align buttons with checkboxes and sliders */
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 0px;
    height: 30px;
    width:  30px;
    border: none;
    margin: 0px;
    padding: 0px;
}

.media_player_ctrl .btn_play { background-image: url(icons/playpause.png); }
.media_player_ctrl .btn_stop { background-image: url(icons/stop.png); }
.media_player_ctrl .btn_prev { background-image: url(icons/prev.png); }
.media_player_ctrl .btn_next { background-image: url(icons/next.png); }


.media_player_ctrl .media_player_extended_control {
    display: none;
    width: 100%;
}

.media_player_ctrl .media_player_extended_control .timeslider {
    width: calc(90% - 100px); /* slider width - width btns */
    min-width: 150px;
    display: inline-block;
}

.media_player_ctrl .media_player_extended_control .media_player_extended_control_positionbox {
    text-align: center;
}

@media (min-width: 200px) {
    /* TODO HIDE UI ELEMENTS IN SMALL SCREENS */
}

