
<li class="lamp_li">
    {{#if supports_onoff}}
    <input type="checkbox" class="lamp_is_on_checkbox" id="lamp_is_on_checkbox{{id}}"
                           {{#if is_on}}checked="checked"{{/if}} />
    {{/if}}

    {{#if has_extended_cfg}}
        <a class="lamp_open_panel_ctrl" id="lamp_open_panel_ctrlDeskLamp" href="#">{{name}}</a>
    {{else}}
        <p>{{name}}</p>
    {{/if}}

    {{#if supports_brightness}}
    <input type="range" class="lamp_set_brightness_slider form-control-range"
                        id="lamp_set_brightness_slider{{id}}" min="0" max="100"
                                                                      value="{{brightness}}" />
    {{/if}}

    {{#if has_extended_cfg}}
    <div class="lamp_detailed_panel_ctrl" id="lamp_detailed_panel_ctrl{{id}}" style="display: none;">
        <p>HOLA MUNDO</p>
    </div>
    {{/if}}
</li>

