body.dark {
  --font-color: #A9E4EF;
  --color-primary: #42213D;
  --color-secondary: #326567;
  --bg-color: #141617;
  --bg-secondary-color: #131316;
  --color-grey: #ccc;
  --color-darkGrey: #777;
  --color-lightGrey: #555;
  --color-text: #A9E4EF;
  --color-error: #dc3545;
  --color-success: #28a745;

  --font-family-mono: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

  --slider-track: var(--color-secondary);
  --slider-thumb: var(--color-primary);

  --color-modal-bg: #58A0D0;
  --color-modal-border: var(--color-primary);
}
