#app_root {
  margin-top: 5px;
}
.app-loading {
  width: 100%;
  background-color: var(--cemph);
  padding: 1em;
  border-radius: 1em;
}
.app-finished-loading {
  display: none;
}
.no-error {
  display: none;
}
#global_error_ui {
  z-index: 99;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  max-height: 80vh;
  background-color: #fee;
}
