#MediaPlayerList ul {
  padding: 0;
  margin: 0;
}
#MediaPlayerList li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#MediaPlayerList .col-media-icon {
  padding: 0;
}

#MediaPlayerList .media-icon {
  max-width: 100px;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
  border-radius: 500px;
}

#MediaPlayerList .col-media-mainpanel {
  padding-left: 10px;
  width: 100%;
}

#MediaPlayerList .media-info-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  max-width: 250px;
}

#MediaPlayerList .player-button {
  background: transparent;
  font-size: x-large;
  width: fit-content;
  opacity: 0.6;
  padding: 0;
}

#MediaPlayerList .player-volume {
  padding: 0;
  display: inline;
  width: 180px;
  padding: 5px;
}

@media screen and (max-width: 599px) {
  #MediaPlayerList .player-volume {
    width:50%;
    display: inline;
  }
  #MediaPlayerList .media-info-label {
    overflow: hidden;
    max-width: 48%;
    display: inline-block;
    margin-left: 1px;
  }
}

#MediaPlayerList .player-tts-button {
  background: transparent;
  font-size: large;
  width: 60%;
  opacity: 0.6;
  margin: 5px;
  border: 2px solid var(--color-primary);
  display: inline;
  border-radius: 5px;
}
#MediaPlayerList .player-tts-lang-select {
  background: transparent;
  width: 20%;
  opacity: 0.6;
  margin: 5px;
  border: 2px solid var(--color-secondary);
  display: inline;
  font-size: small;
  border-radius: 5px;
}

#MediaPlayerList .player-announce-methods {
  font-size: medium;
  width: 90%;
  margin: 5px;
  padding: 5px;
  border: 2px solid var(--color-primary);
}

#MediaPlayerList .player-announce-methods li {
  display: inline;
}

#MediaPlayerList .player-announce-methods li button {
  border: 2px solid var(--color-secondary);
  opacity: 0.6;
  padding: 5px;
  margin: 5px;
  font-size: medium;
}

