[Unit]
Description=Zigbee2Mqtt2Web
After=zigbee2mqtt.target

[Service]
ExecStart=/usr/bin/authbind --deep /usr/bin/python3 -m pipenv run python ./main.py
WorkingDirectory=#INSTALL_DIR#
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=3
User=pi

[Install]
WantedBy=multi-user.target

